.answer{
  display: none;
}

.question, h1, .count, .title{
  text-align: center;
}

.score{
  display: flex;
  justify-content: center;
}

.qa {
  display: flex;
  flex-direction: column;
  align-items: center;
}