.boarder{
  background-color: red;
  border: 3px solid yellow;
  padding: 20px;
}

.center{
  text-align: center;
}
#centerTable {
  margin-left: auto;
  margin-right: auto;
}

.button{
  background-color: #0B0282;
  border: none;
  color: #05F9AB;
}

h1, h2, h3, h4, p, table, a, caption, li, form{
  color: #05F9AB;
}
p{
  font-family: sans-serif;
}

body{
  background-color: #0B0282;
}

#pC{
  background-color: black;
}

h1, h3{
  font-family: fantasy;
}

body {
  margin: 20px;
  padding: 15px;
  border: 3px solid yellow;
}
