        .App
        {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        
        .Container
        {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            grid-template-rows: 34% 33% 33%;
            column-gap: 10px;
            row-gap: 15px;
            height: 70vh;
            width: 85vw;         
        }
        .Menu
        {
          display: flex;
          align-items: center;
          grid-column: 1 / 2;
          grid-row: 1 / 4; 
          background-color: rgb(187, 185, 185);  
          
        }
        .Menu-list
        {
          display: flex;
          list-style-type: none;
          justify-content: space-evenly;
          flex-direction: column;
          height: 50%;
          
        }
        .Reviews {
            background-color: rgb(187, 185, 185); 
            grid-column: 2 / 3;
            grid-row: 1 / 1;
        }
        .ReviewsContent
        {
          margin-left: 15px;
        }
        .Avgrate {
            
          background-color: rgb(187, 185, 185);  
            grid-column: 3 / 4;
            grid-row: 1 / 1;
        }
        .AvgrateContent 
        {
          margin-left: 15px;
        } 
        .Sent{    
            display: flex;
            align-items: center;
            flex-direction: column;
            background-color: rgb(187, 185, 185); 
            grid-column: 4 / 5;
            grid-row: 1 / 1;
        }
        .Sent-list
        {
          margin-left: -40px; 
          list-style-type: none; 
        }
        .Visitors {
            
          background-color: rgb(187, 185, 185); 
            grid-column: 2 / 5;
            grid-row: 2 / 4;
        }
        .VisitorsContent 
        {
          margin-left: 15px;
        }
        #root
        {
          background-color: rgb(230, 227, 227);
        }